In [2]:
import pandas as pd
podaci = pd.read_csv('Datasets\\sezone.csv')
podaci.head()

,Unnamed: 0,Season,HomeTeam,AwayTeam,FTHG,FTAG,FTR,Referee,B365H,B365D,...,HM1,HM2,HM3,HM4,HM5,AM1,AM2,AM3,AM4,AM5
0,0,2015,Bournemouth,Aston Villa,0,1,A,M Clattenburg,2.00,3.6,...,M,M,M,M,M,M,M,M,M,M
1,1,2015,Chelsea,Swansea,2,2,D,M Oliver,1.36,5.0,...,M,M,M,M,M,M,M,M,M,M
2,2,2015,Everton,Watford,2,2,D,M Jones,1.70,3.9,...,M,M,M,M,M,M,M,M,M,M
3,3,2015,Leicester,Sunderland,4,2,H,L Mason,1.95,3.5,...,M,M,M,M,M,M,M,M,M,M
4,4,2015,Man United,Tottenham,1,0,H,J Moss,1.65,4.0,...,M,M,M,M,M,M,M,M,M,M

In [3]:
podaci["HomeTeam_cat"] = podaci["HomeTeam"].astype('category').cat.codes
podaci["AwayTeam_cat"] = podaci["AwayTeam"].astype('category').cat.codes
podaci["FTR_cat"] = podaci["FTR"].astype('category').cat.codes
podaci["Referee_cat"] = podaci["Referee"].astype('category').cat.codes
podaci["HM1_cat"] = podaci["HM1"].astype('category').cat.codes
podaci["HM2_cat"] = podaci["HM2"].astype('category').cat.codes
podaci["HM3_cat"] = podaci["HM3"].astype('category').cat.codes
podaci["HM4_cat"] = podaci["HM4"].astype('category').cat.codes
podaci["HM5_cat"] = podaci["HM5"].astype('category').cat.codes
podaci["AM1_cat"] = podaci["AM1"].astype('category').cat.codes
podaci["AM2_cat"] = podaci["AM2"].astype('category').cat.codes
podaci["AM3_cat"] = podaci["AM3"].astype('category').cat.codes
podaci["AM4_cat"] = podaci["AM4"].astype('category').cat.codes
podaci["AM5_cat"] = podaci["AM5"].astype('category').cat.codes
podaci.head()

,Unnamed: 0,Season,HomeTeam,AwayTeam,FTHG,FTAG,FTR,Referee,B365H,B365D,...,HM1_cat,HM2_cat,HM3_cat,HM4_cat,HM5_cat,AM1_cat,AM2_cat,AM3_cat,AM4_cat,AM5_cat
0,0,2015,Bournemouth,Aston Villa,0,1,A,M Clattenburg,2.00,3.6,...,2,2,2,2,2,2,2,2,2,2
1,1,2015,Chelsea,Swansea,2,2,D,M Oliver,1.36,5.0,...,2,2,2,2,2,2,2,2,2,2
2,2,2015,Everton,Watford,2,2,D,M Jones,1.70,3.9,...,2,2,2,2,2,2,2,2,2,2
3,3,2015,Leicester,Sunderland,4,2,H,L Mason,1.95,3.5,...,2,2,2,2,2,2,2,2,2,2
4,4,2015,Man United,Tottenham,1,0,H,J Moss,1.65,4.0,...,2,2,2,2,2,2,2,2,2,2

In [4]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(podaci[['HomeTeam_cat','AwayTeam_cat', 'B365H', 'B365D', 'B365A', 'HTGS', 'ATGS', 'HTGC', 'ATGC', 'HTP', 'ATP','HM1_cat','HM2_cat','HM3_cat','HM4_cat','AM1_cat','AM2_cat','AM3_cat','AM4_cat']], 
                                                    podaci[['FTR_cat']], test_size=0.25, random_state=2)

In [5]:
X_train = X_train.astype(float)
X_test = X_test.astype(float)

from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X_train)

X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [6]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier


lr = LogisticRegression(random_state=2)
rf = RandomForestClassifier(random_state=2)
gbc = GradientBoostingClassifier(random_state=1)
dtc = DecisionTreeClassifier(random_state=3)
knn = KNeighborsClassifier(n_neighbors=3)

lr.fit(X_train_scaled, y_train)
rf.fit(X_train_scaled, y_train)
gbc.fit(X_train_scaled, y_train)
dtc.fit(X_train_scaled, y_train)
knn.fit(X_train_scaled, y_train)

C:\Users\ASUS\anaconda3\envs\DeepLearning\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
C:\Users\ASUS\anaconda3\envs\DeepLearning\lib\site-packages\ipykernel_launcher.py:14: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

C:\Users\ASUS\anaconda3\envs\DeepLearning\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
C:\Users\ASUS\anaconda3\envs\DeepLearning\lib\site-packages\ipykernel_launcher.py:17: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

KNeighborsClassifier(n_neighbors=3)

In [7]:
print('Train Score')
print('LR:' + str(lr.score(X_train_scaled, y_train)))
print('RF:' + str(rf.score(X_train_scaled, y_train)))
print('GBC:' + str(gbc.score(X_train_scaled, y_train)))
print('DTC:' + str(dtc.score(X_train_scaled, y_train)))
print('KNN:' + str(knn.score(X_train_scaled, y_train)))
print('--------------------------------')
print('Test Score')
print('LR:' + str(lr.score(X_test_scaled, y_test)))
print('RF:' + str(rf.score(X_test_scaled, y_test)))
print('GBC:' + str(gbc.score(X_test_scaled, y_test)))
print('DTC:' + str(dtc.score(X_test_scaled, y_test)))
print('KNN:' + str(knn.score(X_test_scaled, y_test)))

Train Score
LR:0.5578947368421052
RF:1.0
GBC:0.76
DTC:1.0
KNN:0.68
--------------------------------
Test Score
LR:0.5368421052631579
RF:0.5157894736842106
GBC:0.52
DTC:0.40210526315789474
KNN:0.4336842105263158

In [8]:
y_test[:5]

      FTR_cat
1368        0
316         2
1184        0
1139        2
494         0

In [9]:
lr.predict(X_test_scaled[:5])

array([0, 2, 0, 2, 2], dtype=int8)

In [10]:
kolo1 = pd.read_csv('Datasets\\prvo_kolo.csv')

In [11]:
kolo1.drop('Unnamed: 0' ,axis='columns', inplace=True)

In [12]:
lr.predict(kolo1)

array([0, 0, 2, 1, 0, 1, 0, 0, 1], dtype=int8)

In [13]:
trenutna = pd.read_csv('Datasets\\t_sez.csv')
trenutna.head(9)

   Unnamed: 0          HomeTeam     AwayTeam FTR  FTR_cat
0           0            Fulham      Arsenal   A        0
1           1    Crystal Palace  Southampton   H        2
2           2         Liverpool        Leeds   H        2
3           3          West Ham    Newcastle   A        0
4           4         West Brom    Leicester   A        0
5           5         Tottenham      Everton   A        0
6           6          Brighton      Chelsea   A        0
7           7  Sheffield United       Wolves   A        0
8           8           Everton    West Brom   H        2

In [14]:
# 0 - A = AwayWin
# 1 - D = Draw
# 2 - H = HomeWin